doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dictionary.css')
    meta(charset='utf-8')
    block scripts
      script(src='/data/dictionary.js')
      script(src='/javascripts/dictionaryRenderer.js')
  body
    block content
