!!! 5
%html
  %head
    %title= "Interactive Listing of Ithkuil Roots"
    %meta{charset: "utf-8"}
    %link{href:"./styles/lexicon.css", type:"text/css", rel:"stylesheet"}
    %script{src:"./scripts/lexicon.js"}
    %script{src:"./scripts/lexiconRenderer.js"}
  %body
    %header.page-header
      %h1 Lexicon
      %p Interactive listing of Ithkuil roots, stems, & derivatives
    %main.content-wrapper
      
